<script>
$(document).ready(function() {
  $('.typeahead').typeahead([
    {
      name: 'best-picture-winners',
      prefetch: '/stockList',
      template: '<p><strong>\{\{value\}\}</strong> – \{\{label\}\}</p>'
    }
  ]);				    
});
</script>	

<body> 
<div class="searching">
    <form action="/search" method="POST">
	<input type="text"  class="typeahead search" placeholder="Search Stock" autocomplete="off">
	<input type="submit" class=btn value="Search!"><br>
	{% raw xsrf_form_html() %}
    </form>
</div>